{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page">
      <section class="section section-single bg-image novi-background novi-background" style="background-image: url(images/bg-404.jpg);">
        <div class="section-single-inner">
          <header class="section-single-header page-header">
            <div class="page-head-inner"><a href="./"><img src="images/logo-default-187x45.png" alt="" width="187" height="45"/></a></div>
          </header>

          <div class="section-single-main">
            <div class="container">
              <div class="title-modern">404</div>
              {% if error %}
                <h2>{{error}}</h2>
                <a class="button button-lg button-primary button-winona" href="{% url 'main:home' %}">Go to home page</a>
               {% endif %}
            </div>
          </div>
          <div class="section-single-footer">
            <div class="container text-center">
              <!-- Rights-->
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>MagicBook</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy policy</a></p>
            </div>
          </div>

        </div>
        <div class="box-transform"></div>
      </section>
    </div>
{% endblock %}