{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
        <div class="breadcrumbs-custom bg-image" style="background-image: url({% static 'images/bg-breadcrumbs.jpg' %});">
          <div class="container">
            <h1 class="breadcrumbs-custom-title">About Us</h1>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About us</a></li>
            <li class="active">About Us</li>
          </ul>
        </div>
      </section>
      <!-- About-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">
            <div class="col-lg-4 col-xl-3">
              <h4 class="text-spacing-200">15+ years of experience</h4>
              <ul class="nav list-category list-category-down-md-inline-block">
                <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a class="active" href="#tabs-4-1" data-toggle="tab">About us</a></li>
                <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s"><a href="#tabs-4-2" data-toggle="tab">Our Mission</a></li>
                <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s"><a href="#tabs-4-3" data-toggle="tab">Our Goals</a></li>
                <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s"><a href="#tabs-4-4" data-toggle="tab">Join the library</a></li>
              </ul><a class="button button-lg button-primary button-winona" href="contacts.html">Contact us</a>
            </div>
            <div class="col-lg-8 col-xl-9">
              <!-- Tab panes-->
              <div class="tab-content tab-content-1">
                <div class="tab-pane fade show active" id="tabs-4-1">
                  <h2>MagicBook Library was founded in 1974</h2>
                  <p>Albus, dexter particulas grauiter consumere de ferox, bi-color abactus. Impositios studere, tanquam mirabilis hippotoxota. Cur torus manducare? Pol, vox! Cum barcas nocere, omnes specieses contactus</p>
                  <p>Lotus advenas ducunt ad gemna. Ubi est domesticus domina? Heu, barbatus mens! Cum elogium favere, omnes lubaes tractare talis, barbatus adiuratores. Mirabilis hydras ducunt ad danista. Dominas sunt accentors de germanus cacula. Amicitias prarere in alta muta! Ecce, bubo! Nunquam promissio verpa. Talis, primus fugas recte consumere de audax, festus indictio. Nunquam quaestio scutum. Valebats</p><img src="images/about-1-835x418.jpg" alt="" width="835" height="418"/>
                </div>
                <div class="tab-pane fade" id="tabs-4-2">
                  <h2>Providing access to the best books</h2>
                  <p>Albus, dexter particulas grauiter consumere de ferox, bi-color abactus. Impositios studere, tanquam mirabilis hippotoxota. Cur torus manducare? Pol, vox! Cum barcas nocere, omnes specieses contactus</p>
                  <p>Lotus advenas ducunt ad gemna. Ubi est domesticus domina? Heu, barbatus mens! Cum elogium favere, omnes lubaes tractare talis, barbatus adiuratores. Mirabilis hydras ducunt ad danista. Dominas sunt accentors de germanus cacula. Amicitias prarere in alta muta! Ecce, bubo! Nunquam promissio verpa. Talis, primus fugas recte consumere de audax, festus indictio. Nunquam quaestio scutum. Valebats</p><img src="images/about-2-835x418.jpg" alt="" width="835" height="418"/>
                </div>
                <div class="tab-pane fade" id="tabs-4-3">
                  <h2>Educating the rising generation</h2>
                  <p>Albus, dexter particulas grauiter consumere de ferox, bi-color abactus. Impositios studere, tanquam mirabilis hippotoxota. Cur torus manducare? Pol, vox! Cum barcas nocere, omnes specieses contactus</p>
                  <p>Lotus advenas ducunt ad gemna. Ubi est domesticus domina? Heu, barbatus mens! Cum elogium favere, omnes lubaes tractare talis, barbatus adiuratores. Mirabilis hydras ducunt ad danista. Dominas sunt accentors de germanus cacula. Amicitias prarere in alta muta! Ecce, bubo! Nunquam promissio verpa. Talis, primus fugas recte consumere de audax, festus indictio. Nunquam quaestio scutum. Valebats</p><img src="images/about-3-835x418.jpg" alt="" width="835" height="418"/>
                </div>
                <div class="tab-pane fade" id="tabs-4-4">
                  <h2>Join the readership community</h2>
                  <p>Albus, dexter particulas grauiter consumere de ferox, bi-color abactus. Impositios studere, tanquam mirabilis hippotoxota. Cur torus manducare? Pol, vox! Cum barcas nocere, omnes specieses contactus</p>
                  <p>Lotus advenas ducunt ad gemna. Ubi est domesticus domina? Heu, barbatus mens! Cum elogium favere, omnes lubaes tractare talis, barbatus adiuratores. Mirabilis hydras ducunt ad danista. Dominas sunt accentors de germanus cacula. Amicitias prarere in alta muta! Ecce, bubo! Nunquam promissio verpa. Talis, primus fugas recte consumere de audax, festus indictio. Nunquam quaestio scutum. Valebats</p><img src="images/about-4-835x418.jpg" alt="" width="835" height="418"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Our Team-->
      <section class="section section-lg section-bottom-md-70 bg-default">
        <div class="container">
          <h2 class="oh"><span class="d-inline-block wow slideInUp" data-wow-delay="0s">Our Team</span></h2>
          <div class="row row-lg row-40 justify-content-center">
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1s">
              <!-- Team Modern-->
              <article class="team-modern"><a class="team-modern-figure" href="#"><img src="{% static 'images/team-1-270x236.jpg'%}" alt="" width="270" height="236"/></a>
                <div class="team-modern-caption">
                  <h5 class="team-modern-name"><a href="#">Jane McMillan</a></h5>
                  <div class="team-modern-status">Director, Founder</div>
                  <ul class="list-inline team-modern-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
              <!-- Team Modern-->
              <article class="team-modern"><a class="team-modern-figure" href="#"><img src="{% static 'images/team-2-270x236.jpg'%}" alt="" width="270" height="236"/></a>
                <div class="team-modern-caption">
                  <h5 class="team-modern-name"><a href="#">Brittany Williams</a></h5>
                  <div class="team-modern-status">Technical Services Manager</div>
                  <ul class="list-inline team-modern-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
              <!-- Team Modern-->
              <article class="team-modern"><a class="team-modern-figure" href="#"><img src="{% static 'images/team-3-270x236.jpg'%}" alt="" width="270" height="236"/></a>
                <div class="team-modern-caption">
                  <h5 class="team-modern-name"><a href="#">Sam Peterson</a></h5>
                  <div class="team-modern-status">Event Coordinator</div>
                  <ul class="list-inline team-modern-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
              <!-- Team Modern-->
              <article class="team-modern"><a class="team-modern-figure" href="#"><img src="{% static 'images/team-4-270x236.jpg'%}" alt="" width="270" height="236"/></a>
                <div class="team-modern-caption">
                  <h5 class="team-modern-name"><a href="#">Antonia Smith</a></h5>
                  <div class="team-modern-status">Advisory Librarian</div>
                  <ul class="list-inline team-modern-social-list">
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Our History-->
      <section class="section section-lg bg-gray-100 text-left section-relative">
        <div class="container">
          <div class="row row-60 justify-content-center justify-content-xxl-between">
            <div class="col-lg-6 col-xxl-5 position-static">
              <h2>Our history</h2>
              <div class="tabs-custom" id="tabs-5">
                <div class="tab-content tab-content-1">
                  <div class="tab-pane fade" id="tabs-5-1">
                    <h3 class="font-family-sec text-spacing-75">Establishment of MagicBook Library. First Readers</h3>
                    <p>Cottas credere! Canis de neuter tabes, convertam contencio! Nunquam consumere triticum. Cum nomen favere, omnes byssuses carpseris nobilis, dexter caculaes.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-5-2">
                    <h3 class="font-family-sec text-spacing-75">Extending the Library Space for Our Readers and Visitors</h3>
                    <p>Historia de azureus index, perdere messor! Abactor raptus mensa est. Heu, uria! Regius, noster bubos virtualiter resuscitabo de clemens, velox pars.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-5-3">
                    <h3 class="font-family-sec text-spacing-75">Opening Our First Online Bookstore, Library Extension</h3>
                    <p>Ire cito ducunt ad neuter ratione. Nunquam transferre mortem. Tumultumque de placidus burgus, carpseris mons! Index de velox fuga, acquirere solitudo.</p>
                  </div>
                  <div class="tab-pane fade show active" id="tabs-5-4">
                    <h3 class="font-family-sec text-spacing-75">Partnering with International Book Publishers</h3>
                    <p>Heuretes, caesium, et mens. Ubi est lotus domus? Nunquam gratia cobaltum. Superbus, rusticus decors grauiter fallere de fortis, raptus demolitione.</p>
                  </div>
                </div>
                <div class="list-history-wrap">
                  <ul class="nav list-history">
                    <li class="list-history-item" role="presentation"><a href="#tabs-5-1" data-toggle="tab">
                        <div class="list-history-circle"></div>2005</a></li>
                    <li class="list-history-item" role="presentation"><a href="#tabs-5-2" data-toggle="tab">
                        <div class="list-history-circle"></div>2012</a></li>
                    <li class="list-history-item" role="presentation"><a href="#tabs-5-3" data-toggle="tab">
                        <div class="list-history-circle"></div>2015</a></li>
                    <li class="list-history-item" role="presentation"><a class="active" href="#tabs-5-4" data-toggle="tab">
                        <div class="list-history-circle"></div>2018</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-6 position-static index-1">
              <div class="bg-image-right-1 bg-image-right-lg"><img src="{% static 'images/about-5-1110x710.jpg'%}" alt="" width="1110" height="710"/>
                <div class="link-play-modern"><a class="icon mdi mdi-play" data-lightbox="iframe" href="https://www.youtube.com/watch?v=1UWpbtUupQQ"></a>
                  <div class="link-play-modern-title">How we<span>Work</span></div>
                  <div class="link-play-modern-decor"></div>
                </div>
                <div class="box-transform" style="background-image: url({% static 'images/about-5-1110x710.jpg' %});"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Our clients-->
      <section class="section section-lg bg-default text-md-left">
        <div class="container">
          <div class="row row-60 justify-content-center flex-lg-row-reverse">
            <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="offset-left-xl-70">
                <h2>Our Readers</h2>
                <div class="slick-quote">
                  <!-- Slick Carousel-->
                  <div class="slick-slider carousel-parent" data-autoplay="true" data-swipe="true" data-items="1" data-child="#child-carousel-5" data-for="#child-carousel-5" data-slide-effect="true">
                    <div class="item">
                      <!-- Quote Modern-->
                      <article class="quote-modern">
                        <h3 class="quote-modern-text"><span class="q">Torus accelerares, tanquam ferox cacula. Fluctuss experimentum in burdigala! Ubi est peritus classis? Peregrinatione superbe ducunt ad magnum verpa.</span></h3>
                        <h3 class="quote-modern-author">Julie Adams,</h3>
                        <p class="quote-modern-status">Office Manager</p>
                      </article>
                    </div>
                    <div class="item">
                      <!-- Quote Modern-->
                      <article class="quote-modern">
                        <h3 class="quote-modern-text"><span class="q">Gluten, fluctus, et galatae. Germanus classiss ducunt ad brodium. Pol, a bene cedrium. Tabess unda in neuter avenio! Orexiss sunt adelphiss de rusticus parma.</span></h3>
                        <h3 class="quote-modern-author">Sam Peterson,</h3>
                        <p class="quote-modern-status">Entrepreneur</p>
                      </article>
                    </div>
                    <div class="item">
                      <!-- Quote Modern-->
                      <article class="quote-modern">
                        <h3 class="quote-modern-text"><span class="q">Sunt indexes locus nobilis, bi-color repressores. Verpas accelerare, tanquam teres mons. Cum adelphis messis, omnes specieses prensionem bassus, varius torquises.</span></h3>
                        <h3 class="quote-modern-author">Carmella McMillan,</h3>
                        <p class="quote-modern-status">Housewife</p>
                      </article>
                    </div>
                    <div class="item">
                      <!-- Quote Modern-->
                      <article class="quote-modern">
                        <h3 class="quote-modern-text"><span class="q">Fluctuss sunt eras de neuter plasmator. Heuretes noster brabeuta est. Nixus, visus, et mensa. Primus, magnum tatas rare locus de altus, camerarius clabulare.</span></h3>
                        <h3 class="quote-modern-author">Will Jones,</h3>
                        <p class="quote-modern-status">Taxi Driver</p>
                      </article>
                    </div>
                  </div>
                  <div class="slick-slider child-carousel" id="child-carousel-5" data-arrows="true" data-for=".carousel-parent" data-items="4" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-slide-to-scroll="1">
                    <div class="item"><img class="img-circle" src="{% static 'images/team-5-83x83.jpg'%}" alt="" width="83" height="83"/>
                    </div>
                    <div class="item"><img class="img-circle" src="{% static 'images/team-6-83x83.jpg'%}" alt="" width="83" height="83"/>
                    </div>
                    <div class="item"><img class="img-circle" src="{% static 'images/team-7-83x83.jpg'%}" alt="" width="83" height="83"/>
                    </div>
                    <div class="item"><img class="img-circle" src="{% static 'images/team-8-83x83.jpg'%}" alt="" width="83" height="83"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xl-7">
              <!-- Clients Classic-->
              <div class="clients-classic-wrap">
                <div class="row no-gutters">
                  <div class="col-sm-6 wow fadeInLeft">
                    <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'images/clients-1-200x90.png'%}" alt="" width="200" height="90"/></a></div>
                  </div>
                  <div class="col-sm-6 wow fadeInRight">
                    <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'images/clients-2-200x90.png'%}" alt="" width="200" height="90"/></a></div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-sm-6 wow fadeInLeft">
                    <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'images/clients-3-200x90.png'%}" alt="" width="200" height="90"/></a></div>
                  </div>
                  <div class="col-sm-6 wow fadeInRight">
                    <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'images/clients-4-200x90.png'%}" alt="" width="200" height="90"/></a></div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-sm-6 wow fadeInLeft">
                    <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'images/clients-5-200x90.png'%}" alt="" width="200" height="90"/></a></div>
                  </div>
                  <div class="col-sm-6 wow fadeInRight">
                    <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'images/clients-6-200x90.png'%}" alt="" width="200" height="90"/></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock  %}