{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Magic Online Shopping</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href='//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500%7CAbril+Fatface'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" id="main-styles-link">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="path/to/css/rd-navbar.css"> -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <style>
          .rd-nav-link-1 {
            color: black;
          }
          .rd-nav-link-1 .badge {
            position: absolute;
            top: -13px;
            right: -13px;
            background-color: white;
            color: red;
          }
.input-container {
display: -ms-flexbox;
display: flex;
/* width: 100%; */
margin-bottom: 15px;
}         
.input-field {
  /* width: 100%; */
  /* padding: 10px; */
  /* outline: none; */
}
.icon {
  /* padding: 10px; */
  /* background: white; */
  /* color: black; */
  width: 26px;
  /* text-align: center; */
}
    </style>
  </head>
  <body>
    <div id='host' style="display: none;">{{host}}</div>
    <div class="preloader">
      <div class="bookshelf-wrapper">
        <ul class="books-list">
          <li class="book-item first"></li>
          <li class="book-item second"></li>
          <li class="book-item third"></li>
          <li class="book-item fourth"></li>
          <li class="book-item fifth"></li>
          <li class="book-item sixth"></li>
        </ul>
        <div class="shelf"></div>
      </div>
    </div>
    <div class="page">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="80px" data-xl-stick-up-offset="80px" data-xxl-stick-up-offset="80px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="search-button">
              <a href="#" class="search-toggle" data-selector="#header-2"></a>
            </div>  
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="{% static 'images/logo3.png'%}" alt="" width="450" height="100"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">Shop</a>
                        <!-- RD Navbar Megamenu-->
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            {% for a in context %}
                            <h6 class="rd-megamenu-title">{{ a.Name }}</h6>
                            <ul class="rd-megamenu-list">
                              {% for i in a.Sub_Name %}
                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/shop/{{ a.Name }}/{{ i.sub_category}}">{{ i.sub_category}}</a></li>
                              {% endfor %}
                            </ul>

                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about_us">About us</a>
                      </li>
                      {% if customer %}
                        <!-- User Nav Dropdown-->
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">{{customer.customer_username}}</a>
                          <ul class="rd-menu rd-navbar-dropdown">
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Your Orders</a></li>
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{% url 'main:manage_account' %}">Manage Account</a></li>
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{% url 'main:logout' %}">LogOut</a></li>
                          </ul>
                        </li>
                      {% else %}
                        <!-- Guest Nav Dropdown-->
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">Account</a>
                          <ul class="rd-menu rd-navbar-dropdown">
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{% url 'main:login' %}">Login</a></li>
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{% url 'main:registration' %}">Register</a></li>
                          </ul>
                        </li>
                      {% endif %}
                      <li class="rd-nav-item"><a class="rd-nav-link" href=" {% static 'projects.html' %} ">Projects</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href=" {% static 'projects.html' %} ">Projects</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href=" {% static 'project-page.html' %} ">Project page</a></li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href=" {% static 'grid-blog.html' %} ">News</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href=" {% static 'grid-blog.html' %} ">Grid blog</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href=" {% static 'blog-post.html' %} ">Blog post</a></li>
                        </ul>
                      </li>
                      <li class="rd-nav-item">
                        <a class="rd-nav-link-1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-cart-outline">
                          {% if cart|length == 0%}
                            <span class="badge" id = "cart_span"></span>
                          {% else %}
                            <span class="badge" id = "cart_span">{{ cart|length }}</span>
                          {% endif %}
                          </i>
                        </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p style="text-align: center">Cart</p>
                              <div class="dropdown-divider"></div>
                              <form id="form1" action="/addtocart/"></form>
                                <table class="table table-striped" id="cartTable">
                                  <tr>
                                    {% csrf_token %}
                                    <td>Name</td>
                                    <td>Quantity</td>
                                    <td>Price</td>
                                    <td></td>
                                  </tr>
                                  {% for cart_item in cart %}
                                    <tr id = "index" data-id={{forloop.counter0}}>
                                    <td>{{cart_item.product_name}}</td>
                                    <td>{{cart_item.quantity}}</td>
                                    <td>{{cart_item.total_price}}</td>
                                    <td><button id="delete" data-id="{{cart_item.product_name}}" onclick = "removeProduct(this)" class="delete">Remove</button></td> 
                                    </tr>
                                  {% endfor %}
                                </table>
                                  <table class="table table-striped">
                                  <tr><td></td>
                                  <td></td>
                                  <td><button form="form1" class="button button-sm button-primary button-winona">Checkout</button></td>
                                  <td></td>
                                </table>
                              </div>
                                    
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                <div class="uk-navbar-item">
                  <form class="uk-search uk-search-navbar uk-width-1-1" action="/search/" method="POST" style="margin:auto;max-width:300px">
                      {% csrf_token %}
                      <!-- <label class="form-label" for="rd-search-form-input">Search</label> -->
                      <div class="input-container">
                        <input class="input-field" id="site-search" type="sear" name="search_result" autocomplete="off"  placeholder="Search...">
                      <button><i class="fa fa-search icon" aria-hidden="true" ></i></button>
                      </div>
                      <!-- <button class="search-button"><i class="fa fa-search"></i></button> -->
                  </form>
                </div> 
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Header and Swiper-->

      {% block content %}
      
      {% endblock %}
      
            <!-- Page Footer-->
      <footer class="section section-md footer-creative footer-creative-2 context-dark">
        <div class="container">
          <div class="row row-60 justify-content-center justify-content-md-between">
            <div class="col-sm-8 col-md-5 col-lg-3">
              <h3 class="footer-creative-title oh-desktop"><span class="d-inline-block wow slideInDown">Get In Touch</span></h3>
              <ul class="footer-creative-contacts d-inline-block d-md-block">
                <li class="wow fadeInRight">
                  <p class="footer-creative-contacts-title">Free consultation</p><a class="phone" href=" {% static 'tel:#' %} ">+1 718-999-3939</a>
                </li>
                <li class="wow fadeInRight" data-wow-delay=".05s">
                  <p class="footer-creative-contacts-title">Address</p><a class="address" href="#">514 S. Magnolia St. Orlando, FL 32806</a>
                </li>
                <li class="wow fadeInRight" data-wow-delay=".1s">
                  <p class="footer-creative-contacts-title">E-mail</p><a class="mail" href=" {% static 'mailto:#' %} ">info@demolink.org</a>
                </li>
              </ul>
              <hr/>
              <ul class="list-inline footer-social-list footer-social-list-2">
                <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
              </ul>
            </div>
            <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4">
              <h3 class="footer-creative-title oh-desktop"><span class="d-inline-block wow slideInDown">Popular News</span></h3>
              <div class="list-popular-post">
                <div class="list-popular-post-item wow fadeInRight">
                  <!-- Post Minimal-->
                  <article class="post post-minimal post-minimal-2">
                    <div class="unit unit-spacing-2 align-items-center flex-column text-center flex-sm-row text-sm-left">
                      <div class="unit-left"><a class="post-minimal-figure" href=" {% static 'blog-post.html' %} "><img src=" {% static 'images/post-1-115x89.jpg' %} " alt="" width="115" height="89"/></a></div>
                      <div class="unit-body">
                        <p class="post-minimal-title"><a href=" {% static 'blog-post.html' %} ">Top 10 Library Events to Visit This Month</a></p>
                        <div class="post-minimal-time">
                          <time datetime="2018-04-20">April 20, 2018</time>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="list-popular-post-item wow fadeInRight">
                  <!-- Post Minimal-->
                  <article class="post post-minimal post-minimal-2">
                    <div class="unit unit-spacing-2 align-items-center flex-column text-center flex-sm-row text-sm-left">
                      <div class="unit-left"><a class="post-minimal-figure" href=" {% static 'blog-post.html' %} "><img src=" {% static 'images/post-2-115x89.jpg' %} " alt="" width="115" height="89"/></a></div>
                      <div class="unit-body">
                        <p class="post-minimal-title"><a href=" {% static 'blog-post.html' %} ">Best Books for Your Children</a></p>
                        <div class="post-minimal-time">
                          <time datetime="2018-04-20">April 20, 2018</time>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <p class="wow fadeInRight">Sign up today for tips and latest news</p>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform rd-form-inline rd-form-inline-sm wow fadeInUp" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required"/>
                  <label class="form-label" for="subscribe-form-2-email">Enter your E-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-sm button-icon-2 button-primary button-winona" type="submit"><span class="icon mdi mdi-telegram"></span></button>
                </div>
              </form>
            </div>
            <div class="col-sm-10 col-md-12 col-lg-3 col-xl-3">
              <div class="oh-desktop">
                <div class="inset-left-xl-20 wow slideInLeft"><a class="brand" href=" {% static 'index.html' %} "><img src=" {% static 'images/logo-inverse-187x45.png' %} " alt="" width="187" height="45"/></a>
                  <p>Providing access to the best books for children and adults.</p>
                  <ul class="footer-creative-list d-inline-block d-sm-block">
                    <li><a href="/about_us">About us</a></li>
                    <li><a href=" {% static 'services.html' %} ">Services</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href=" {% static 'projects.html' %} ">Projects</a></li>
                    <li><a href=" {% static 'grid-blog.html' %} ">News</a></li>
                    <li><a href=" {% static 'contacts.html' %} ">Contacts</a></li>
                    <li><a href="/faqs">FAQ</a></li>
                    <li><a href=" {% static 'shop.html' %} ">Shop</a></li>
                  </ul>
                  <!-- Rights-->
                  <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>MagicBook</span><span>.&nbsp;</span><a href=" {% static 'privacy-policy.html' %} ">Privacy policy</a></p>
                </div>
              </div>
              <div class="bg-footer-creative"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src=" {% static 'js/core.min.js' %} "></script>
    <script src=" {% static 'js/script.js' %} "></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <script type="text/javascript">
          //$("#delete").click(removeProduct($(this)));
          function removeProduct(i)
            {
              var qty = '#delete';
              var csrf = document.querySelector('input[name=csrfmiddlewaretoken]').value;
              var r = i.parentNode.parentNode.rowIndex;
              var span = '#cart_span';
              var data = {csrfmiddlewaretoken: '{{csrf_token}}', productName: $(qty).data('id')}
              //console.log('make ajax call to add:', $(btn));

              $.post({
                  url:'{% url 'main:removefromCart' %}', 
                  type: 'POST',
                  data: data, 
                  success: function(){
                      if ($(span).text() == ""){
                          $(span).text(0)
                      }
                      no_of_cart = parseInt($(span).text(), 10) - 1
                      $(span).text(no_of_cart);
                      document.getElementById("cartTable").deleteRow(r);
                  },
              });
            }
    </script>
  </body>
</html>