{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- Section Mailchimp-->
      <section class="section section-sm bg-default text-center">
        <div class="container">
          <h6>Check your Email!</h6>
          <!-- RD Mailform-->
          <img src="https://img.icons8.com/clouds/100/000000/important-mail.png" style = "width: 180px; height: 180px">
          <div class="form-wrap">
              <p> We've sent you email verfication link! Check your email to complete your progress..
            </div>
          </form>
        </div>
      </section>
      <script type="text/javascript">setTimeout("window.close();", 3000);</script>


{% endblock %}