{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Section checkout form-->
      <section class="section section-sm section-first bg-default text-md-left">
        <div class="container">
          <div class="row row-50 justify-content-center">
          {% if payment is not None%}
          <div class="col-md-10 col-lg-6">
              <h5 style="text-align: center;">Credit Card Verification Form</h5>
              <form id="confirm_checkout" class="form-checkout" action="/checkout/{{method}}" method="post">
                {% csrf_token %}
                <div class="row row-14 gutters-14">
                  {% for field in payment %}
                    {% if field.name == "card_type"%}
                      <div class="col-sm-12">
                        <div class="form-wrap">
                          {% for radio in field %}
                            {{radio}}
                          {% endfor%}
                        </div>
                      </div>
                    {% elif field.name == "card_number"  or field.name == "card_billing_address"%}
                      <div class="col-sm-12">
                        <div class="form-wrap">
                          <label class="form-label" for="{{field.field.widget.attrs.id}}">{{field.label}}</label>
                          {{field}}
                        </div>
                      </div>
                    {% else %}
                      <div class="col-sm-6">
                        <div class="form-wrap">
                          <label class="form-label" for="{{field.field.widget.attrs.id}}">{{field.label}}</label>
                          {{field}}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </form>
            </div>
            {% endif %}
            <div class="col-md-10 col-lg-6">
              <h5 style="text-align: center;">Delivery Address</h5>
              <form id="confirm_checkout" class="form-checkout" action="/checkout/{{method}}" method="post">
                {% csrf_token %}
                <div class="row row-14 gutters-14">
                {% if payment is not None%}
                <div class="col-sm-12"><br></div>
                {% endif %}
                  {% for field in delivery %}
                    {% if field.name == "firstname" or field.name == "lastname" or field.name == "township" or field.name == "phone"%}
                      <div class="col-sm-6">
                        <div class="form-wrap">
                          <label class="form-label" for="{{field.field.widget.attrs.id}}">{{field.label}}</label>
                          {{field}}
                        </div>
                      </div>
                    {% else %}
                      <div class="col-sm-12">
                        <div class="form-wrap">
                          {{field}}
                          <label class="form-label" for="{{field.field.widget.attrs.id}}">{{field.label}}</label>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- Shopping Cart-->
      <section class="section section-sm bg-default text-md-left">
        <div class="container">
          <h5>Order Items</h5>
          <!-- shopping-cart-->
          <div class="table-custom-responsive">
            <table class="table-custom table-cart">
              <thead>
                <tr>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart %}
                  <tr>
                    <td class="table-cart-figure"><img src="{% get_media_prefix %}{{item.product_featureImage}}" alt="" width="146" height="132"/>
                    <p class="table-cart">{{item.product_name}}</a></td>
                    <td>${{item.product_price}}</td>
                    <td>{{item.qty}}</td>
                    <td>${{item.total_price}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <!-- Section Payment-->
      <section class="section section-sm section-last bg-default text-md-left">
        <div class="container">
          <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-6">
              <h5>Payment methods</h5>
              <div class="box-radio">
                <div class="radio-panel">
                  {% if method == "cash on delivery" %}
                    <h6>Cash on Delivery</h6>
                    <p>You'll need to pay the total cost when we delivery your products right to your home.
                  {% else %}
                    <h6>Credit Card Payment</h6>
                    <p>Please fill your credit card information correctly. We'll verify your credit card with the related bank.<br>Your privacy is our majority!
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-6">
              <h5>Cart totals</h5>
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-primary table-checkout">
                  <tbody>
                    <tr>
                      <td>Cart Subtotal</td>
                      <td>${{total_cost}}</td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>${{total_cost}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="button-wrap text-center"><button form="confirm_checkout" class="button button-sm button-primary button-winona">Order Now</button></div>
        </div>
      </section>
{% endblock %}