{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
        <div class="breadcrumbs-custom bg-image" style="background-image: url({% static 'images/bg-breadcrumbs.jpg'%});">
          <div class="container">
            <h1 class="breadcrumbs-custom-title">Login</h1>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Login</li>
          </ul>
        </div>
      </section>
      <!-- Forms-->
      <section class="section section-lg bg-default text-md">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-xl-between">
            <div class="col-md-10 col-lg-6">
              <div class="box-width-xl-520">
                <h2>Login form</h2>
                <div class="form-login">
                  <div class="button-social"><a class="button button-sm button-icon button-icon-left button-facebook button-winona" href="#"><span class="icon fa fa-facebook"></span><span>Facebook</span></a><a class="button button-sm button-icon button-icon-left button-twitter button-winona" href="#"><span class="icon fa fa-twitter"></span><span>Twitter</span></a><a class="button button-sm button-icon button-icon-left button-google button-winona" href="#"><span class="icon fa fa-google-plus"></span><span>Google+</span></a></div>
                  <p class="text-divider">or</p>
                  <form action = "{% url 'main:login' %}" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="form-wrap">
                        {{field.label_tag}}*
                        {{field}}
                      </div>
                    {% endfor %}
                    <input type="hidden" name="next" value="{{request.GET.next}}" />
                    <label class="checkbox-inline">
                      <input name="input-checkbox-1" value="checkbox-1" type="checkbox">Remember Me
                    </label>
                    <div class="row row-14 gutters-14">
                      <div class="col-sm-6 col-lg-5 col-xl-6">
                        <button class="button button-block button-primary button-winona" type="submit">Login</button>
                      </div>
                      <div class="col-sm-6 col-lg-7 col-xl-6"><a class="button button-block button-outline button-default-outline button-winona" href="/registration">Create an account</a></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
{% endblock %}