{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- Breadcrumbs -->
      <section class="bg-gray-7">
        <div class="breadcrumbs-custom bg-image" style="background-image: url({% static 'images/bg-breadcrumbs.jpg'%});">
          <div class="container">
            <h1 class="breadcrumbs-custom-title">Sign Up</h1>
            <div class="breadcrumbs-custom-decor"></div>
          </div>
        </div>
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Registration</li>
          </ul>
        </div>
      </section>
      <!-- Forms-->
      <section class="section section-lg bg-default text-md-left">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-xl-between">
            <div class="col-6">
              <div class="box-width-xl-520">
                <h2>Register Here</h2>
                <div class="form-login">
                  <form action = "{% url 'main:registration' %}" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="form-wrap">
                        {{field.label_tag}}*
                        {{field}}
                      </div>
                    {% endfor %}
                    <div class="row row-14 gutters-14">
                      <div class="col-sm-5 col-lg-7 col-xl-6">
                        <button class="button button-block button-primary button-winona" type="submit">Create account</button>
                        {% comment %} onclick="location.href='/login/'" {% endcomment %}
                      </div>
                    </div>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
